
//Colours Variables
$bg-primary-color: #ffffff;
$bg-secondary-color:#fafaff;
$bg-secondary-color-2: #ffffff;
$bg-accent-color:#8c5ec3;
$shadow-color: rgba($bg-accent-color, 0.15);

// Font Variables
$font-primary-family:     "Lobster", sans-serif;
$font-secondary-family:   "Barlow Condensed", sans-serif;
$font-accent-family:    Helvetica, sans-serif;   